/****/
.gavias_layerslider {
  background: url(../images/bg-s.png) repeat #444444;
}

.gavias_layerslider .tp-caption, #gavias_slider_single .tp-caption {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  z-index: 99;
}
.gavias_layerslider .big-text, #gavias_slider_single .big-text {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.gavias_layerslider .medium-text, #gavias_slider_single .medium-text {
  color: #fff;
  font-size: 22px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gavias_layerslider .btn-slide, #gavias_slider_single .btn-slide {
  border: 2px solid #fff;
  font-size: 14px;
  text-transform: uppercase;
  backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
.gavias_layerslider .btn-slide.btn-slide-flat, #gavias_slider_single .btn-slide.btn-slide-flat {
  background: #000;
  color: #fff;
  border-color: #000;
}
.gavias_layerslider .btn-slide:hover, #gavias_slider_single .btn-slide:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}
.gavias_layerslider .gavias-overlay:after, #gavias_slider_single .gavias-overlay:after {
  content: "";
  background: url(../images/grid-slide.png) repeat rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
