.node-teaser-display{
  border-bottom: 1px solid $border-color;
  padding-bottom: 25px;
  margin-bottom: 25px;
  .post-title{
    a{
      font-size: 16px;
    }
  }
  .field-type-taxonomy-term-reference{
    margin-top: 15px;
    .field-items > .field-item{
      border: 1px solid $theme-color;
      padding: 4px 8px;
      float: left;
      font-size: 12px;
      text-transform: uppercase;
      margin-right: 10px;
      &:hover, &:focus, &:active{
        background: $theme-color;
        a{
          color: $white;
        }  
      }
    }
  }
}

.node-blog.node-teaser{
  .post-title a{
    font-weight: 700!important;
  }  
}
.node-blog .node-teaser, .post-area{
  .post-title {
   margin-top: 10px;
    a{
      font-weight: 700!important;
    } 
  }  
}
.readmore {
  margin-top: 25px;
  display: block;
  width: 100%;
  a{
    border: 2px solid #222222;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 8px;
    @include transition(all 0.35s);
    &:hover{
      background: $theme-color;
      border-color: $theme-color;
      color: $white!important;
    }
  }
}
.post-block{
   background: $white;
   .post-image {
     overflow: hidden;
      img{
        width: 100%;
        @include transition(all 0.4s);
     }
     &:hover img{
     -ms-transform: scale(1.2) rotate(6deg); 
      -webkit-transform:scale(1.2) rotate(6deg); 
      transform:scale(1.2) rotate(6deg);
     }
    } 
   .post-title{
       padding: 10px 0 5px;
      h2, h3, h4{
         margin: 0;
      }
      a{
         font-size: 16px;
         line-height: 20px;
         font-weight: 500;
      }
   }
   .post-meta{
    padding: 5px 0;
      font-size: 12px;
      color: #A4A4A4!important;
      a{
         color: #A4A4A4!important;
         &:hover{
            color: $theme-color;
         }
      }
      > span{
         margin-right: 5px;
      }
   }

   .content-after{
      padding: 10px 0 0;
   }
   &.post-style-list{
      .post-image{
         @include size(70px, auto);
         float: left;
      }
      .post-meta-wrap{
         float: left;
         width: calc(100% - 75px);
         padding-left: 15px;
         .post-title a{
            font-weight: 400;
            font-size: 14px;
            padding: 5px 0;
         }
      }
      .content-after{
         
      }
   }
}

//****** Post Home ***********
.view-home-blog{
  .grid-inner {
    position: relative;
    .meta{
      background : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background : -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background : -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background : -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      position: absolute;
      bottom: 0;
      left: 0;
      @include size(100%, auto);
      z-index: 1;
      padding: 20px;
      .entry-title a{
        font-size: 20px;
        line-height: 24px;
        color: $white;
        font-weight: 600;
        &:hover{
          color: $theme-color;
        }
      }
      .entry-date{
        color: $white;
        line-height: 1;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}

.view-home-blog-v2{
  .meta{
    background: $white;
    padding: 20px;
    border: 1px solid $border-color;
    border-top: 2px solid $theme-color;
    .entry-date{
      font-size: 12px;
      color: #ddd;
      margin-bottom: 5px;
    }
    .entry-title a{
      font-size: 16px;
      line-height: 1.5;
      display: block;
      font-weight: 700;
      margin-bottom: 10px;
      &:hover{
        color: $theme-color;
      }
    }
    .entry-body{
      line-height: 1.5;
    }
  }
}

.view-home-blog-v3{
  .view-list{
    ul > li{
      padding-bottom: 20px!important;
      .entry-thumbnail{
        @include size(110px, auto);
        float: left;
      }
      .meta{
        padding-left: 135px;
      }
      .entry-title h3 {
        margin: 5px 0 0;
        a{
          font-size: 14px;
        }
      }
      .entry-date{
        font-size: 12px;
      }
    }
  }
}

//****** Team item ***********
.team-item{
  .team-content{
    background: $white;
    border: 1px solid $border-color;
    border-top: 0;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 2px;
    .name{
      font-size: 15px;
      color: $black;
      font-weight: 400;
      text-transform: uppercase;
    }
    .job{
      padding-top: 5px;
      font-size: 11px;
      color: #9a9a9a;
      font-weight: 500;
      text-transform: uppercase;
    }
    .team-social{
      margin-top: 10px;
      a{
        border: 2px solid $border-color;
        @include size(30px, 30px);
        @include border-radius(50%);
        @include transition(all 0.35s);
        color: #9a9a9a;
        margin: 0 5px;
        display: inline-block;
        font-size: 15px;
        &:hover{
          background: $theme-color;
          border-color: $theme-color;
          color: $white;
        }
      }
    }
  }
}

.gallery-teaser-display{
  .post-block{
    position: relative;
    .post-content{
      @include transition(all 0.35s);
      @include opacity(0);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 30px;
      @include size(100%, 100%);
      padding-left: 20px;
      padding-right: 20px;
      z-index: 9;
      background: rgba(0, 0, 0, 0.5);
      a, *{
        color: $white!important;
      }
      a:hover{
        color: $theme-color!important;
      }
    }
    &:hover{
      .post-content{
        @include opacity(1);
      }
    }
  }
}

//Post skin dark
.style-dark{
  .post-block{
    background: $nocolor;
    .post-title{
      background: $nocolor;
      a{
        color: $white;
        &:hover{
          color: $theme-color;
        }
      }
    }
  } 
}

.post-slideshow{
   div[class*="col-"]{
      padding: 0;
   }
}

//----------------- Display post slider ------------------------
.main-slideshow{
    position: relative;
    .caption{
      width: 100%;
      padding: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
       z-index: 9;
       @include transition(all 0.35s);
       .post-title a{
          padding: 5px 0;
          font-size: 26px;
          color: $white;
          font-weight: 400;
          &:hover{
            color: $theme-color;
          }
       }
    }
    .post-meta{
       color: $white;
       padding: 5px 0;
    }
    .post-body{
       color: $white;
       font-size: 16px;
       height: 0;
       @include opacity(0);
       @include transition(all 0.35s);
       @media(max-width: $screen-sm-max){
          display: none;
       }
    }
    &:hover{
       .post-body{
          @include opacity(1);
          height: 60px;
       }
    }
}

//------------------------- Display post Highlight ------------------
.list-highlight-post{
  .view-list ul li{
    padding: 0!important;
    margin: 0;
    .post-block{
      background: $theme-color-second; 
      .post-image{
         padding: 0;
      }  
      .post-meta-wrap {
        padding: 20px;
        overflow: hidden;
        *{
          color: $white;
          a:hover{
            color: $theme-color;
          }
        }
      }
      .post-body{
         padding-top: 10px;
      }
    }
    &:nth-child(2n){
      .post-image{
        float: right!important;
      }
    }
  }
}

//------------------ Display post list ---------------------
.post-style-list{
  .post-block{
    clear: both;
    .post-image{
      width: 35%;
      float: left;
      img{
        height: auto;
        width: 100%;
      }
    }
    .post-content{
      width: 65%;
      padding-left: 15px;
      float: left;
    }
    .post-title{
      padding-top: 0;
    }
  }
  &.small{
    .post-image{
      width: 30%;
    }
    .post-content{
      width: 70%;
      padding-left: 10px;
    }
    .post-title{
      padding-top: 3px;
      a{
        font-weight: 400;
        font-size: 14px!important;
        font-family: $font-family-base;
      }
    }
    .post-meta{
      padding: 0;
    }
  }
}

//******** Node masonry ***************//
.post-masonry-style{
  .post{  
    .row-post-single{
      > div{
        width: 100%;
        float: none;
      } 
    }
  }  
}  

//******* Node Courses Type *************//
.course-item{
    &.grid{
      .grid-inner{
        background: $white;
        text-align: center;
        &:hover{
          .image{
            &:after{
              @include opacity(1);
            }
            .price{
              left: 15px;
              @include opacity(1);
            }
          }
        }
      }
      .image{
        position: relative;
        overflow: hidden;
        &:after{
          content: "";
          position: absolute;
          @include size(100%, 100%);
          background: rgba(0, 0, 0, 0.5);
          top: 0;
          left: 0;
          z-index: 1;
          @include opacity(0);
          @include transition(all 0.35s);
        }
        .price{
          position: absolute;
          bottom: 15px;
          left: -30px;
          padding: 10px;
          z-index: 9;
          @include transition(all 0.35s);
          text-transform: uppercase;
          color: $white;
          font-size: 14px;
          @include opacity(0);
        }
      }
      .item-body{
        padding: 20px;
        > div{
          margin-bottom: 10px;
        }
        .title{
          a{
            text-transform: uppercase;
          }
        }
        .teacher{
          .field-content{
            display: inline-block;
            position: relative;
            padding: 0 10px;
            &:after, &:before{
              content: "";
              @include size(30px, 1px);
              background: $border-color;
              position: absolute;
              top: 50%;
            }
            &:after{
              left: 100%;
            }
            &:before{
              right: 100%;
            }
          }
        }
      }  
    }
}


//=======================
.serivce-block{
  &.v1{
    .service-title{
      margin: 15px 0;
      color: $black;
    }
  }
}

//========================
.teacher-item{
  .grid-inner{
    background: #F5F5F5;
    padding: 30px;
    text-align: center;
  }
  .image{
    margin-bottom: 20px;
    display: inline-block;
    @include border-radius(50%);
    overflow: hidden;
    @include size(150px, auto);
    img{
      max-width: 100%;
    }
  }
  .item-body{
    > div{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .title a{
      text-transform: uppercase;
      color: $theme-color;
    }
    .job .field-content{
      color: #222222;
    }
  }
}