.blog-single-post{
   .post-meta-tag{
     > *{
       float: left;
     }
   }
   .post-title {
      padding: 20px 0 10px;
      h1{
         font-size: 24px;
   	   text-transform: uppercase;
   	   margin: 0;
      }
   }
   .post-meta {
      clear: both;
      color: #A4A4A4;
      font-size: 10px;
      text-transform: uppercase;
      border-bottom: 1px solid $border-color;
      padding-bottom: 15px;
      > span{
         float: left;
         margin-right: 10px;
         i{
            margin-right: 5px;
         }
         a{
            color: #A4A4A4;
            &:hover{
               color: $theme-color;
            }
         }
         &.post-meta-tag{
            i{
               margin-top: 4px;
            }
         }
      }
   }   
   .content-first{
      position: relative;
      margin-bottom: 20px;
      .post-date {
         position: absolute;
         width: 45px;
         top: 0;
         left: 0;
         > span{
            display: block;
            width: 100%;
            text-align: center;
         }
         .day {
            background: none repeat scroll 0 0 #f4f4f4;
            @include border-radius(2px 2px 0 0);
            color: #ccc;
            display: block;
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
         }
         .month{
            background: none repeat scroll 0 0 #ccc;
            @include border-radius( 0 0 2px 2px);
            @include box-shadow(0 -1px 0 0 rgba(0, 0, 0, 0.07) inset);
            color: #ffffff;
            font-size: 0.9em;
            padding: 0 10px 2px;
         }
      }  
      
   } 
   .post-content{
      line-height: 1.7;
   }  
   .field-type-taxonomy-term-reference{
      margin-top: 20px;
      .field-items{
         > .field-item{
            float: left;
            margin-right: 15px;
            border: 1px solid $border-color;
            padding: 5px 8px;
         }
      }
   }
   .link-wrapper{
      padding-top: 15px;
   }
}   

.link-wrapper{
   margin-top: 15px;
   clear: both;
}

.post-author{
   border-top: 1px solid $border-color;
   padding: 10px 0;
   h3{
      font-size: 20px;
      color: #A4A4A4;
      position: relative;
      padding-bottom: 10px;
      &:after{
         content: "";
         position: absolute;
         border: none;
         left: 0;
         @include size(40px, 2px);
         background: $theme-color;
         bottom: 0;
         z-index: 999;
         margin: 0;
      }
      i{
         margin-right: 5px;
      }
   }
   .img-thumbnail{
      float: left;
      margin-right: 20px;
   }
}

.page-contact{
   .breadcrumb-wrap{
      margin: 0;
   }
   #contact-site-form{
      .form-item{
         margin-bottom: 30px;
         label{
            min-width: 250px;
         }
      }
   }
}

#user-login{ 
   .form-item{
      margin-top: 20px;
   }
}

//================ Single Course ======================
.single-course{
   .post-title a{
      font-size: 22px;
   }
   .course-content{
      
   }
   .course-subtitle{
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: 1px solid $border-color;
      font-weight: 700;
      padding: 0 0 10px;
      margin: 0 0 20px;
      color: $black;
   }
   .course-features{
      .feature-item{
         margin-bottom: 15px;
         i{
            float: left;
            margin-right: 10px;
            border: 1px solid $theme-color;
            color: $theme-color;
            @include size(40px, 40px);
            text-align: center;
            line-height: 40px;
         }
         > span{
            padding-left: 55px;
            display: block;
         }
      }
   }
   .course-lessons{
      .lesson-item{
         margin-top: 10px;
         padding-bottom: 10px;
         border-bottom: 1px dashed $border-color;
         .icon{
            float: left;
            font-size: 16px;
            line-height: 30px;
         }
         .lesson-content{
            padding-left: 30px;
            display: block;
            position: relative;
            .lesson-title{
               padding-right: 80px;
            }
            .lesson-duration{
               position: absolute;
               top: 2px;
               right: 0;
               z-index: 1;
            }
         }
      }
   }
   .course-meta{
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
      .meta-item{
         float: left;
         margin-right: 15px;
         padding-bottom: 20px;
         display: inline-block;
         color: $black;
         &:last-child{
            margin-right: 0;
         }
         .icon{
            @include size(35px, 35px);
            text-align: center;
            float: left;
            margin-top: 10px;
            &.icon-teacher{
               background: url('#{$base-theme-image-path}/icon-teacher.png') no-repeat scroll center center transparent;
            }
            &.icon-category{
               background: url('#{$base-theme-image-path}/icon-book.png') no-repeat scroll center center transparent;
            }
            &.icon-duration{
               background: url('#{$base-theme-image-path}/icon-clock.png') no-repeat scroll center center transparent;
            }
         }
         .content{
            padding-left: 45px;
            .lab{
               color: #aaa;
               font-size: 12px;
               display: block;
            }
            .val{
               display: block;
               font-size: 12px;
               text-transform: uppercase;
               line-height: 1.2;
            }
         }
      }
   }
}

//=========== Single Teacher ===========
.single-teacher{
   .post-title{
      padding: 10px 0 20px;
     h1{
      margin: 0;
     }
      a{
         font-size: 20px;
      }   
   }
   .course-meta{
      border: 1px solid $border-color;
      border-top: 0;
   }
   .information-inner{
      border: 1px solid $border-color;
      border-top: none;
      padding: 0 20px;
   }
   .list-info{
      > li{
         padding: 0 0 10px;
         margin: 0 0 10px;
         border-bottom: 1px dashed $border-color;
         width: 100%;
         display: block;
         &:last-child{
            border-bottom: 0;
         }
         .lab{
            float: left;
            min-width: 120px;
            font-size: 12px;
            color: #aaa;
            text-transform: uppercase;
            font-weight: 400;
         }
         .val{
            float: left;
            font-size: 12px;
            text-transform: uppercase;
            color: $black;
            font-weight: 400;
         }
      }   
   }
   .teacher-social{
      text-align: center;
      li{
         float: left;
      }
   }
}