/*
**  Slideshow top
*/
.gavias-slider{ 
  width: 100%;
  height: auto;
  position: relative;
  .swiper-slide{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
  }  
  .slider-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .gavias-opacity{
    @include opacity(1);
  }
  .gavias-slide-overlay{
    background: url(#{$base-theme-image-path}grid-slide.png) repeat rgba(0, 0, 0, 0.3);
    position: absolute;
    @include size(100%, 100%);
    top: 0;
    left: 0;
    z-index: 9;
  }
  .swiper-button-prev, .swiper-button-next{
    @include size(50px, 50px);
    color: $white;
    background: rgba(0, 0, 0, 0.6);
    @include opacity(0);
    &:after{
      position: absolute;
      font-family: "FontAwesome";
      font-size: 30px;
      top: 0;
      left: 0;
      text-align: center;
      @include size(100%, 100%);
      z-index: 1;
      color: $white;
    }
  }
  .swiper-button-prev{
    left: 0;
    @include border-radius(0 5px 5px 0);
    &:after{
      content: "\f104";
    }
  }
  .swiper-button-next{
    right: 0;
    @include border-radius(5px 0 0 5px);
    &:after{
      content: "\f105";
    }
  }
  &:hover{
    .swiper-button-prev, .swiper-button-next{
      @include opacity(1);
    }
  }
  .caption-description{
    color: $white;
    font-size: 22px;
    text-transform: none;
    font-weight: 300;
    padding-bottom: 10px;
    @media(max-width: $screen-sm-max){
        font-size: 16px!important;
      }
  }
    
  .caption-title {
      font-size: 50px;
      color: $white;
      list-style: none;
      text-transform: uppercase;
      font-weight: 700;
      @media(max-width: $screen-sm-max){
        font-size: 25px!important;
      }
  }

  .btn-slide{
    border: 2px solid $white;
    font-size: 14px;
    text-transform: uppercase;
    backface-visibility: hidden;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    color: $white;
    padding: 10px 20px;
    @include transition(all 0.35s);
    &.btn-slide-flat{
      background: $theme-color;
      color: $white;
      border-color: $theme-color;
    }
    &:hover{
      color: $black;
      background: $white;
      border-color: $white;
    } 
  }

  .caption-title {
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  }
  .caption-description {
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
  }
  .slider-action {
    margin-top: 15px;
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 1s;
  }

    .gavias-default_anim .caption-title,
    .gavias-default_anim .caption-description,
    .gavias-default_anim .slider-action {
      -webkit-transform: translate(0, 70px);
      -moz-transform: translate(0, 70px);
      -ms-transform: translate(0, 70px);
      -o-transform: translate(0, 70px);
      transform: translate(0, 70px);
      ms-transform: translate(0, 70px);
      @include opacity(0);
    }

    .slide-active .gavias-default_anim {
    .caption-title, .caption-description, .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
  }
    .gavias-fade-in .caption-title,
    .gavias-slide-top .caption-title,
    .gavias-slide-left .caption-title,
    .gavias-slide-bottom .caption-title,
    .gavias-slide-right .caption-title,
    .gavias-scale-down .caption-title,

    .gavias-fade-in .caption-description,
    .gavias-slide-top .caption-description,
    .gavias-slide-left .caption-description,
    .gavias-slide-bottom .caption-description,
    .gavias-slide-right .caption-description,
    .gavias-scale-down .caption-description,

    .gavias-fade-in .slider-action,
    .gavias-slide-top .slider-action,
    .gavias-slide-left .slider-action,
    .gavias-slide-bottom .slider-action,
    .gavias-slide-right .slider-action,
    .gavias-scale-down .slider-action {
      @include opacity(0);
    } 
    .slide-active .gavias-fade-in .caption-title,
    .slide-active .gavias-fade-in .caption-description,
    .slide-active .gavias-fade-in .slider-action {
      @include opacity(1);
    }
    .gavias-slide-top .caption-title,
    .gavias-slide-top .caption-description,
    .gavias-slide-top .slider-action {
      -webkit-transform: translate(0, -70%);
      -moz-transform: translate(0, -70%);
      -ms-transform: translate(0, -70%);
      -o-transform: translate(0, -70%);
      transform: translate(0, -70%);
      ms-transform: translate(0, -70%);
    }
    .slide-active .gavias-slide-top .caption-title,
    .slide-active .gavias-slide-top .caption-description,
    .slide-active .gavias-slide-top .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
    .gavias-slide-left .caption-title,
    .gavias-slide-left .caption-description,
    .gavias-slide-left .slider-action {
      -webkit-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      ms-transform: translate(-100%, 0);
    }
    .slide-active .gavias-slide-left .caption-title,
    .slide-active .gavias-slide-left .caption-description,
    .slide-active .gavias-slide-left .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
    .gavias-slide-bottom{
      .caption-title,
      .caption-description,
      .slider-action {
        -webkit-transform: translate(0, 70%);
        -moz-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
        -o-transform: translate(0, 70%);
        transform: translate(0, 70%);
        ms-transform: translate(0, 70%);

      }
    }  

    .slide-active .gavias-slide-bottom .caption-title,
    .slide-active .gavias-slide-bottom .caption-description,
    .slide-active .gavias-slide-bottom .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
     @include opacity(1);
    }
    .gavias-slide-right .caption-title,
    .gavias-slide-right .caption-description,
    .gavias-slide-right .slider-action {
      -webkit-transform: translate(70%, 0);
      -moz-transform: translate(70%, 0);
      -ms-transform: translate(70%, 0);
      -o-transform: translate(70%, 0);
      transform: translate(70%, 0);
      ms-transform: translate(70%, 0);
    }
    .slide-active .gavias-slide-right .caption-title,
    .slide-active .gavias-slide-right .caption-description,
    .slide-active .gavias-slide-right .slider-action {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      ms-transform: translate(0, 0);
      @include opacity(1);
    }
    .gavias-scale-down .caption-title,
    .gavias-scale-down .caption-description,
    .gavias-scale-down .slider-action {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      ms-transform: scale(1.3);
    }
    .slide-active .gavias-scale-down .caption-title,
    .slide-active .gavias-scale-down .caption-description,
    .slide-active .gavias-scale-down .slider-action {
      @include opacity(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      ms-transform: scale(1);
    }
    .gavias-flip-x,
    .gavias-flip-y {
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-perspective: 1000;
      -webkit-animation-duration: 0.6s;
      -moz-animation-duration: 0.6s;
      -o-animation-duration: 0.6s;
      animation-duration: 0.6s;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1;
      -o-animation-delay: 1s;
      animation-delay: 1s;
    }
    .slide-active .gavias-flip-x {
      -webkit-animation-name: gavias_flip_x;
      -moz-animation-name: gavias_flip_x;
      -o-animation-name: gavias_flip_x;
      animation-name: gavias_flip_x;
    }
    .slide-active .gavias-flip-y {
      -webkit-animation-name: gavias_flip_y;
      -moz-animation-name: gavias_flip_y;
      -o-animation-name: gavias_flip_y;
      animation-name: gavias_flip_y;
    }
    .gavias-slider-loading {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #004551;
      .gavias-preloader {
        top: 50%;
      }
    }
  
    .gavias-skip-slider {
      position: absolute;
      display: table;
      left: 50%;
      bottom: 8%;
      cursor: pointer;
      margin: -24px 0 0 -24px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
     @include opacity(0.9);
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    .gavias-skip-slider i {
      font-size: 16px; 
      display: table-cell;
      vertical-align: middle;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
    .gavias-skip-slider:hover {
      @include opacity(1);
    }

    .gavias-skip-slider:hover i {
      -webkit-transform: translate3d(0, 5%, 0);
      -moz-transform: translate3d(0, 5%, 0);
      -ms-transform: translate3d(0, 5%, 0);
      -o-transform: translate3d(0, 5%, 0);
      transform: translate3d(0, 5%, 0);
      ms-transform: translate3d(0, 5%, 0);
    }

}

 /* Flip Horizontally */ 
@-webkit-keyframes gavias_flip_x {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
@-moz-keyframes gavias_flip_x {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
@-o-keyframes gavias_flip_x {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
@keyframes gavias_flip_x {
  0% {
    transform: perspective(400px) rotateX(90deg);
    @include opacity(0);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    @include opacity(1);
  }
}
/* Flip Vertically */
@-webkit-keyframes gavias_flip_y {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}
@-moz-keyframes gavias_flip_y {
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}
@-o-keyframes gavias_flip_y {
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}
@keyframes gavias_flip_y {
  0% {
    transform: perspective(400px) rotateY(90deg);
    @include opacity(0);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    @include opacity(1);
  }
}