.margin-tb-20{
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}
.margin-bottom-20{
  margin-bottom: 20px!important;
}
.margin-bottom-50{
  margin-bottom: 50px!important;
}
.margin-top-30{
  margin-top: 30px!important;
}
/**/
input[type="text"], 
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea, select{
  background-color: #fff!important;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #ccc!important;
  padding: 6px 3%!important;
  width: 94%!important;
}

textarea{
  width: 100%;
  height: 120px;
}

label{
  font-size: 12px;
  text-transform: uppercase;
}
.g-label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  display: block;
  padding-top: 5px;
}
.g-label.small{
  width: 50px;
}
.sub-headding{
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 15px 15px 0;
}

.tp-caption img, .tp-caption iframe{
  max-width: 100%;
  height: auto;
}
.g-row{
  margin-bottom: 15px;
  display: block;
  width: 100%;
}
.col-1-1{
  width: 100%;
  float: left;
  padding: 0 10px;
}

.g-wrapper{
  border: 1px solid #ccc!important;
  padding: 15px!important;
  background: #f1f1f1;
  border: none;
  padding:0;
   margin: 0 0 20px;
}

.col-1-2{
  width: 45%;
  float: left;
  padding: 0 2.5%;
}

.col-1-3{
  width: 33.33%;
  float: left;
}

.g-content-setting{
  border: 1px solid #ccc;
  margin-top: 10px;
  float: left;
  width: 100%;
}

#layeroptions table{
  border: none!important;

 border-collapse: separate;
 border-spacing: 20px 5px;
}
#layeroptions table td{
 border: none!important;
 padding: 0!important;
}
.back-list-sliders{
  padding: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
input.file-imce{
  background: url("../images/imce.png") no-repeat 0 0 #FFFFFF!important;
  background-position: 98% center !important;
  background-repeat: no-repeat !important
}

.layer{
  position: absolute !important;
}
#layers li{
  list-style: none;
}

div.vertical-tabs {
  border: 1px solid #CCCCCC;
  margin: 10px 0;
  position: relative;
}

#gavias_list_layers{
  margin: 0;
  padding: 0;
}

#gavias_list_layers li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 30px;
  padding: 10px 10px 10px 25px;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
}
#gavias_list_layers span{
  cursor: pointer;
}
#gavias_list_layers li span.fa{
  float: right;
  line-height: 30px;
  margin-left: 10px;
}
#gavias_list_layers li.text{
  padding-left: 40px;

}
#gavias_list_layers li.text:after{
  font-family: 'FontAwesome';
  content: '\f035';
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 18px;
  color: #000;
} 
#gavias_list_layers li.image{
  padding-left: 40px;
}
#gavias_list_layers li.image:after{
  font-family: 'FontAwesome';
  content: '\f1c5';
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 18px;
  color: #000;
}
#gavias_list_layers li.active{
  background-color: #fff;
  color: #000;
}
div.vertical-tabs{
  overflow: hidden;
}
div.vertical-tabs .vertical-tabs-list {
  float: right;
  margin: 0;
  padding: 20px;
  width: 240px;
  background: #3FB8AF;
  color: #fff;
  position: relative;
}
div.vertical-tabs .vertical-tabs-list:after {
  content: '';
  width: 100%;
  height: 1000px;
  background: #3FB8AF;
  position: absolute;
  top: 99%;
  left: 0;
}
div.vertical-tabs ul li{
  list-style: none outside none;
  margin: 0;
}
div.vertical-tabs .vertical-tabs-panes {
  margin: 0 270px 0 0;
  padding: 15px;
}

#gavias_list_layers span.duplicate{
  background: url("../images/duplicate-icon.png") no-repeat scroll center right transparent;
  display: block;
  width: 16px;
  height: 30px;
  float: right;
  margin-left: 10px;
}
.layer{
  position: absolute;
  cursor: move;
}

.gavias-heading{
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: -15px -15px 15px;
}

#gavias_layerslider ul a{
  text-transform: uppercase;
}
ul.ui-tabs-nav li{
  float: left;
}
#gavias_layerslider li.settings a{
  background: url("../images/settings.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
  padding-left: 25px;
}
.ui-tabs-hide{
  display: none;
}
/*#content-type .ui-tabs-panel{
  padding: 5px 0;
}
*/
.form-global-setting-item{
  padding: 15px;
}
.layer.selected {
  box-shadow: 0 0 8px #DDE573;
}

a#add_layer{
  background: url("../images/addnew.png") no-repeat scroll 6px center rgba(0, 0, 0, 0);
  line-height: 30px;
  padding-left: 23px;
}
.move{
  cursor: move !important;
}

.remove-layer{
  color: #DD0000;
  margin-left: 10px;
}

#g-image-layer{
	max-width: 500px !important;
	width: 500px;
}

/*Group setting*/
.gavias-sliderlayer-groupsetting input, .gavias-sliderlayer-groupsetting select{
  max-width: 250px;
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.gavias-sliderlayer-groupsetting select{
  max-width: 275px;
}
.gavias-sliderlayer-groupsetting .form-global-setting-item{
  padding-top: 5px;
  padding-bottom: 5px;
}